<div class="authentication">
  <div class="sign-in">
    <div class="row no-mrg-horizon">

      <div class="col-md-12 no-pdd-horizon">
        <div class="full-height bg-white height-100">
          <div class="vertical-align full-height pdd-horizon-70">
            <div class="table-cell">
              <div class="pdd-horizon-15">
                <h2>Se connecter</h2>
                <p class="mrg-btm-15 font-size-13">Merci de saisir votre email et votre mot de passe pour vous connecter</p>
                <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" ngModel="" name="username" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mot de passe" ngModel="" name="password" required>
                  </div>
                  <button type="submit" ui-sref="index.main" class="btn btn-info">Se connecter</button>
                  <div class="alert alert-danger" *ngIf="failedConnection==1">
                    <strong>Email ou mot de passe incorrect.</strong>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="login-footer">
            <img class="img-responsive inline-block" src="assets/images/logo/logo.png" width="100" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
