<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Inscription:</div>
      <div class="card-block">


        <form #f="ngForm" (ngSubmit)="inscrir(f.value)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" ngModel="" name="email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe " ngModel="" name="password" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="nom " ngModel="" name="nom" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="prenom" ngModel="" name="prenom" required>
          </div>
          <div class="form-group">
            <input type="Date" class="form-control" placeholder="Date de naissance" ngModel="" name="dateNaissance" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="adressee" ngModel="" name="adresse" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="ville" ngModel="" name="ville" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="pays" ngModel="pays" name="adresse email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="niveau" ngModel="" name="niveau" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="profile" ngModel="" name="profile" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="telephone" ngModel="" name="telephone" required>
          </div>
          <button type="submit" ui-sref="index.main" class="btn btn-info">S'inscrir'</button>
        </form>

      </div>
    </div>
  </div>
</div>
